body{
    margin-top: 0;
    max-width: 960px;
	margin-block: 0;
    margin-inline: auto;
    
}

marquee{
    font-size: 2vw; 
    
    margin-top: -10px;
} 

.title{
    width: 80%;
    height: 5%; 
    float: right;
}

.sidebar{
    float: left;
    width: 20%;
    min-height: inherit;
    background-image: url("background.png");
    
}
.sidebar ul{
    list-style-position: inside;
    padding-left: 0.4rem;
    margin-block: 0;
}

.sidebar ul a {
    margin-left: -1rem;
}
.sidebar h2{
    padding-left: 0.4rem;
    margin-block: 0;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
  67% { color: yellow }
}

.main{
    min-height: 1100px;
    background-color: #6699FF;
}
table{
    width: 75%;
    margin-inline: auto;
}
.img-table, .img-table th, .img-table td{
    border: 2px dashed black;
}

td img{
	margin-top: -2rem;
	width: 200px;
	height: 200px;
}

footer{
    text-align: center;
}
footer > p{
    margin: auto;
    float: bottom;
}